<h1>作成中</h1>

<p>今日は <%= @time %> です</p>

<p>名前をいれてね！</p>
<p>※カタカナかひらがなでいれてください</p>

<%= form_tag({ :controller => 'book', :action => 'list' },
  { :method => :post, :id => 'name'}) do %>
  <%= text_field_tag :name, '', { :size => 25 } %>
  <%= submit_tag '送信' %>
<% end %>
